<template>
  <v-card v-if="currentSimulation" cols="12" md="8" :loading="loading > 0">
    <v-card-title class="display-1 text-transform-capitalize" style="text-transform: uppercase">
      Simulation '{{currentSimulation.Name}}'
    </v-card-title>
    <v-card-text>
      <h2 class="text-light" style="text-transform: uppercase">
        {{convertStateToString(currentSimulation.SimulationState)}}</h2>
      <br>
      <v-card v-if="currentSimulation.SimulationState === 0 || currentSimulation.SimulationState > 4">
        <v-card-title>Parameters</v-card-title>
        <v-spacer></v-spacer>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="3">
              <!--TODO: change this placeholder text-->
              <p>Please input the following parameters:</p>
              <ul>
                <li>Population size: the amount of people in the population.</li>
                <li>Ticks: the duration of the simulation.</li>
                <li>Behaviour: The way people in the population behave.</li>
                <li>Disease: The disease to introduce in the population</li>
                <li>Detector prevalence: The portion of the population who use the detector.</li>
                <li>Tick multiplier: The simulation resolution multiplier in hours.</li>
              </ul>
              <v-text-field
                hint="Example: 1000"
                :persistent-hint="true"
                class="mb-3"
                v-model="currentSimulation.N"
                label="N (Population size)"/>
              <v-text-field
                hint="Example: 1000"
                :persistent-hint="true"
                class="mb-3"
                v-model="currentSimulation.T"
                label="T (Total Tick Count)"/>

              <v-combobox
                class="mb-2"
                :items="behavoir_combo_items"
                v-model="currentSimulation.BehaviorId"
                label="Select a Behavoir"
                :return-object="false"/>

              <v-combobox
                class="mb-2"
                :items="disease_combo_items"
                v-model="currentSimulation.DiseaseId"
                label="Select a Disease"
                :return-object="false"/>
              <v-text-field
                hint="Example: 1"
                :persistent-hint="true"
                class="mb-3"
                v-model="currentSimulation.DetectorPrevalence"
                label="DetectorPrevalence"/>
              <v-text-field
                hint="Example: 1"
                :persistent-hint="true"
                class="mb-3"
                v-model="currentSimulation.TickMultiplier"
                label="TickMultiplier"/>
            </v-col>
            <v-col></v-col>
            <v-col cols="12" md="8">
              <v-row>
                <v-col cols="12">
                  <h3 class="mb-2">StartTime:</h3>
                  <p class="text-muted mb-0">StartTime within the simulation.</p>
                </v-col>
                <v-col cols="12" md="6">
                  <v-date-picker v-model="p_date" label="StartTime Date"></v-date-picker>
                </v-col>
                <v-col cols="12" md="6">
                  <v-time-picker v-model="p_time" label="StartTime Time"></v-time-picker>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <!--            <v-text-field v-model="currentSimulation.StartTime" label="StartTime"/>-->
          <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
          </p>
          <v-btn large color="primary" @click="saveParameters">Save Parameters</v-btn>
        </v-card-text>
      </v-card>
      <br>

      <v-btn large color="primary" @click="startSimulation()" :disabled="currentSimulation.SimulationState === 0">
        <v-icon left>mdi-play-box</v-icon>
        START
      </v-btn>
      <v-btn large color="primary" @click="setSimulationState(5)" :disabled="currentSimulation.SimulationState <= 2">
        <v-icon left>mdi-pause</v-icon>
        PAUSE
      </v-btn>
      <v-btn large color="accent" @click="setSimulationState(6)" :disabled="currentSimulation.SimulationState === 0">
        <v-icon left>mdi-stop</v-icon>
        STOP
      </v-btn>
      <br>
      <br>
      <v-btn
        style="width: 100%"
        v-if="currentSimulation.SimulationState >= 2"
        color="secondary"
        large
        @click="openGrafana">
        <v-icon left>mdi-chart-bell-curve-cumulative</v-icon>
        See Detailed Results
        <v-icon right>mdi-export</v-icon>
      </v-btn>
      <!--          https://metrics.epidemio.run/d-solo/nBlOQBfZz/epidemiodb?orgId=1&var-EngineDB=Microsoft%20SQL%20Server&var-SimulationId=342&from=1579122569000&to=1582722569000&refresh=2s&panelId=29-->
      <iframe
        v-if="currentSimulation.SimulationState >= 2"
        :src="'http://' + metricsHost + '/d-solo/nBlOQBfZz/epidemiodb?orgId=1&var-EngineDB=Microsoft%20SQL%20Server' + this.generateGrafanaURLParameters() + '&theme=dark&panelId=29&fullscreen'"
        frameborder="0"
        style="width: 100%; height: 400px;"></iframe>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ShowSimulation',
  data: () => ({
    loading: 0,
    simulations: null,
    behavior: null,
    diseases: null,
    currentSimulation: null,
    socket: null,
    errors: [],
    simulationSocket: null,
    p_date: null,
    p_time: null
  }),
  created () {
    this.getDiseases()
    this.getBehaviour()
  },
  mounted () {
    this.getSimulation(this.$route.params.id)
    this.socket = this.$nuxtSocket({})
    this.socket.on('simulation', (data) => {
      if (data.Id) {
        const existingIndex = this.simulations.map(s => s.Id).indexOf(data.Id)
        if (existingIndex > 0) {
          this.simulations.splice(existingIndex, -1)
        }
        this.snackbarText = 'Simulation ' + data.Name + ' has just reported to the mothership.'
        this.snackbar = true
        this.simulations.push(data)
      } else {
        this.getSimulations()
      }
    })
    this.socket.on('simulation_event', (data) => {
      console.log('simulation_event', data)
    })
    this.socket.emit('public_event', { event: 'simulation_event', data: { time: new Date().toLocaleString() } })
  },
  computed: {
    metricsHost () {
      console.log(process.env.NODE_ENV)
      return (process.env.NODE_ENV === 'production') ? 'metrics.epidemio.run' : 'localhost:3000'
    },
    behavoir_combo_items () {
      return this.behavior.map((s) => {
        return {
          text: s.Id,
          value: s.Id
        }
      })
    },
    disease_combo_items () {
      return this.diseases.map((s) => {
        return {
          text: s.Name,
          value: s.Id
        }
      })
    },
    simulations_combo_items () {
      return this.simulations ? this.simulations.map((s) => {
        return {
          text: s.Name + ' [ ' + this.convertStateToString(s.SimulationState) + ' ] ',
          value: s
        }
      }) : []
    }
  },
  methods: {
    convertStateToString (state) {
      switch (state) {
        case 0:
          return 'Waiting for initialization'
        case 1:
          return 'Waiting'
        case 2:
          return 'Busy'
        case 3:
          return 'Stopped'
        case 4:
          return 'Exception'
        case 5:
          return 'Finished'
        case 6:
          return 'Paused'
        default:
          return state + ''
      }
    },
    saveParameters () {
      // concat date and time
      this.currentSimulation.StartTime = this.$moment(this.p_date).format('YYYY-MM-DD') + ' ' + this.p_time
      console.log(this.currentSimulation.StartTime)
      if (this.validateParameters(this.currentSimulation)) {
        this.emitSimulationEvent('parameters', this.currentSimulation)
      }
    },
    validateParameters (params) {
      this.errors = []

      if (!params.N || params.N < 100 || params.N > 250000) {
        this.errors.push('Population size has to be between 100 and 250000')
      }
      if (!params.T || params.T < 1 || params.T > 2000) {
        this.errors.push('Total tick count has to be between 1 and 2000')
      }
      if (!params.BehaviorId) {
        this.errors.push('Please select a behavior.')
      }
      if (!params.DiseaseId) {
        this.errors.push('Please select a disease.')
      }
      if (params.DetectorPrevalence < 0 || params.DetectorPrevalence > 1) {
        this.errors.push('Detector prevalence has to be between 0 and 1.')
      }
      if (!params.StartTime) {
        this.errors.push('Please set a start time.')
      }
      return !this.errors.length
    },
    emitSimulationEvent (event, data) {
      this.simulationSocket.emit('simulation_event', {
        event,
        data
      })
    },
    openGrafana () {
      window.open('http://' + this.metricsHost + '/d/nBlOQBfZz/epidemiodb?orgId=1&var-EngineDB=Microsoft%20SQL%20Server' + this.generateGrafanaURLParameters())
      // https://metrics.epidemio.run/d/nBlOQBfZz/epidemiodb?orgId=1&var-EngineDB=Microsoft%20SQL%20Server&var-SimulationId=21&from=now-5m&to=1580511599000
    },
    generateGrafanaURLParameters () {
      return '&var-SimulationId=' +
        this.currentSimulation.Id +
        '&from=' + this.$moment(this.currentSimulation.StartTime).valueOf() +
        '&to=' + this.calculateEndTime().valueOf() + '&refresh=2s'
    },
    startSimulation () {
      this.emitSimulationEvent('control', { start: true })
    },
    setSimulationState (newstate) {
      this.emitSimulationEvent('control', { state: newstate })
    },
    calculateEndTime () {
      return this.$moment(this.currentSimulation.StartTime).add(this.currentSimulation.T * this.currentSimulation.TickMultiplier, 'hours')
    },
    getSimulation (id) {
      this.loading++
      this.$axios.get('/api/Simulations/' + id).then((data) => {
        this.currentSimulation = data.data
        console.log(data.data)

        this.p_time = this.$moment(this.currentSimulation.StartTime).format('HH:mm:ss')
        this.p_date = this.$moment(this.currentSimulation.StartTime).format('YYYY-MM-DD')

        if (this.simulationSocket) {
          this.simulationSocket.disconnect()
        }
        this.simulationSocket = this.$nuxtSocket({
          query: {
            simulationId: this.currentSimulation.Id
          }
        })
        this.simulationSocket.on('state_update', (data) => {
          console.log(data)
          this.currentSimulation.SimulationState = data.State
        })
      }).catch(() => {
        this.$router.go({ name: 'dashboard' })
      }).then(() => {
        this.loading--
      })
    },
    getBehaviour () {
      this.loading++
      this.$axios.get('/api/Behavior').then((data) => {
        this.behavior = data.data
      }).then(() => {
        this.loading--
      })
    },
    getDiseases () {
      this.loading++
      this.$axios.get('/api/Disease').then((data) => {
        this.diseases = data.data
      }).then(() => {
        this.loading--
      })
    }
  }
}
</script>

<style scoped>

</style>
