@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap');

$body-font-family: "IBM Plex Sans", sans-serif;

$heading-font-family: "IBM Plex Mono", monospace;
$title-font: $heading-font-family;
//$heading-font-weight: 500;
