<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item link to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/dashboard">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!--        <v-list-item link to="engines">-->
        <!--          <v-list-item-action>-->
        <!--            <v-icon>mdi-view-engine</v-icon>-->
        <!--          </v-list-item-action>-->
        <!--          <v-list-item-content>-->
        <!--            <v-list-item-title>Engines</v-list-item-title>-->
        <!--          </v-list-item-content>-->
        <!--        </v-list-item>-->

      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
      <a href="/dashboard" style="text-decoration: none; color: white;">
        <v-toolbar-title>EPIDEMIO – Fighting Epidemics</v-toolbar-title>
      </a>
    </v-app-bar>

    <v-content>
      <v-container class="fill-height">
        <nuxt/>
      </v-container>
      <!--      <v-container class="fill-height" fluid>-->
      <!--        <v-row align="center" justify="center">-->
      <!--          <v-col class="shrink">-->
      <!--            <v-tooltip right>-->
      <!--              <template v-slot:activator="{ on }">-->
      <!--                <v-btn :href="source" icon large target="_blank" v-on="on">-->
      <!--                  <v-icon large>mdi-code-tags</v-icon>-->
      <!--                </v-btn>-->
      <!--              </template>-->
      <!--              <span>Source</span>-->
      <!--            </v-tooltip>-->
      <!--            <v-tooltip right>-->
      <!--              <template v-slot:activator="{ on }">-->
      <!--                <v-btn-->
      <!--                  icon-->
      <!--                  large-->
      <!--                  href="https://codepen.io/johnjleider/pen/bXNzZL"-->
      <!--                  target="_blank"-->
      <!--                  v-on="on"-->
      <!--                >-->
      <!--                  <v-icon large>mdi-codepen</v-icon>-->
      <!--                </v-btn>-->
      <!--              </template>-->
      <!--              <span>Codepen</span>-->
      <!--            </v-tooltip>-->
      <!--          </v-col>-->
      <!--        </v-row>-->
      <!--      </v-container>-->
    </v-content>
  </v-app>
</template>

<script>
export default {
  props: {
    source: String
  },

  data: () => ({
    drawer: null
  }),

  created () {
    this.$vuetify.theme.dark = true
  }
}
</script>

<!--<template>-->
<!--  <v-app dark>-->
<!--    <v-navigation-drawer-->
<!--      v-model="drawer"-->
<!--      :mini-variant="miniVariant"-->
<!--      :clipped="clipped"-->
<!--      fixed-->
<!--      app-->
<!--    >-->
<!--      <v-list>-->
<!--        <v-list-item-->
<!--          v-for="(item, i) in items"-->
<!--          :key="i"-->
<!--          :to="item.to"-->
<!--          router-->
<!--          exact-->
<!--        >-->
<!--          <v-list-item-action>-->
<!--            <v-icon>{{ item.icon }}</v-icon>-->
<!--          </v-list-item-action>-->
<!--          <v-list-item-content>-->
<!--            <v-list-item-title v-text="item.title" />-->
<!--          </v-list-item-content>-->
<!--        </v-list-item>-->
<!--      </v-list>-->
<!--    </v-navigation-drawer>-->
<!--    <v-app-bar :clipped-left="clipped" fixed app>-->
<!--      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />-->
<!--      <v-btn @click.stop="miniVariant = !miniVariant" icon>-->
<!--        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>-->
<!--      </v-btn>-->
<!--      <v-btn @click.stop="clipped = !clipped" icon>-->
<!--        <v-icon>mdi-application</v-icon>-->
<!--      </v-btn>-->
<!--      <v-btn @click.stop="fixed = !fixed" icon>-->
<!--        <v-icon>mdi-minus</v-icon>-->
<!--      </v-btn>-->
<!--      <v-toolbar-title v-text="title" />-->
<!--      <v-spacer />-->
<!--      <v-btn @click.stop="rightDrawer = !rightDrawer" icon>-->
<!--        <v-icon>mdi-menu</v-icon>-->
<!--      </v-btn>-->
<!--    </v-app-bar>-->
<!--    <v-content>-->
<!--      <v-container>-->
<!--        <nuxt />-->
<!--      </v-container>-->
<!--    </v-content>-->
<!--    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>-->
<!--      <v-list>-->
<!--        <v-list-item @click.native="right = !right">-->
<!--          <v-list-item-action>-->
<!--            <v-icon light>-->
<!--              mdi-repeat-->
<!--            </v-icon>-->
<!--          </v-list-item-action>-->
<!--          <v-list-item-title>Switch drawer (click me)</v-list-item-title>-->
<!--        </v-list-item>-->
<!--      </v-list>-->
<!--    </v-navigation-drawer>-->
<!--    <v-footer :fixed="fixed" app>-->
<!--      <span>&copy; 2019</span>-->
<!--    </v-footer>-->
<!--  </v-app>-->
<!--</template>-->

<!--<script>-->
<!--export default {-->
<!--  data() {-->
<!--    return {-->
<!--      clipped: false,-->
<!--      drawer: false,-->
<!--      fixed: false,-->
<!--      items: [-->
<!--        {-->
<!--          icon: 'mdi-apps',-->
<!--          title: 'Welcome',-->
<!--          to: '/'-->
<!--        },-->
<!--        {-->
<!--          icon: 'mdi-chart-bubble',-->
<!--          title: 'Inspire',-->
<!--          to: '/inspire'-->
<!--        }-->
<!--      ],-->
<!--      miniVariant: false,-->
<!--      right: true,-->
<!--      rightDrawer: false,-->
<!--      title: 'Vuetify.js'-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->
