<template>
  <v-app id="inspire">
<!--    <v-navigation-drawer v-model="drawer" app clipped></v-navigation-drawer>-->
    <v-container class="fill-height">
      <nuxt/>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'landing'
}
</script>

<style scoped></style>
