<template>
  <v-layout column justify-center align-center>
    <v-card style="min-width: 80%;" :loading="loading > 0">
      <v-card-title>
        Simulation controller
      </v-card-title>
      <v-card-text>
        <p>Available (online) simulation engines:</p>
        <!--        <pre>{{ simulations }}</pre>-->
        <v-combobox
          :items="simulations_combo_items"
          v-model="selectedSimulation"
          label="Select a simulation"
          @change="changedSelectedSimulation"
          :return-object="true"/>
      </v-card-text>
    </v-card>
    <br>

    <v-snackbar
      v-model="snackbar"
      :timeout="2000"
    >
      {{ snackbarText }}
      <v-btn
        color="secondary"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    snackbar: false,
    snackbarText: '',
    loading: 0,
    simulations: null,
    behavior: null,
    diseases: null,
    selectedSimulation: null,
    socket: null,
    errors: [],
    simulationSocket: null,
    p_date: null,
    p_time: null
  }),
  created () {
    this.getSimulations()
  },
  mounted () {
    this.socket = this.$nuxtSocket({})
    this.socket.on('simulation', (data) => {
      if (data.Id) {
        const existingIndex = this.simulations.map(s => s.Id).indexOf(data.Id)
        if (existingIndex > 0) {
          this.simulations.splice(existingIndex, -1)
        }
        this.snackbarText = 'Simulation ' + data.Name + ' has just reported to the mothership.'
        this.snackbar = true
        this.simulations.push(data)
      } else {
        this.getSimulations()
      }
    })
    this.socket.on('simulation_event', (data) => {
      console.log('simulation_event', data)
    })
    this.socket.emit('public_event', { event: 'simulation_event', data: { time: new Date().toLocaleString() } })
  },
  computed: {
    simulations_combo_items () {
      return this.simulations ? this.simulations.map((s) => {
        return {
          text: s.Name + ' [ ' + this.convertStateToString(s.SimulationState) + ' ] ',
          value: s
        }
      }) : []
    }
  },
  methods: {
    convertStateToString (state) {
      switch (state) {
        case 0:
          return 'Waiting for initialization'
        case 1:
          return 'Waiting'
        case 2:
          return 'Busy'
        case 3:
          return 'Stopped'
        case 4:
          return 'Exception'
        case 5:
          return 'Finished'
        case 6:
          return 'Paused'
        default:
          return state + ''
      }
    },
    changedSelectedSimulation () {
      // console.log(this.selectedSimulation)
      this.$router.push({
        name: 'simulation-id',
        params: {
          id: this.selectedSimulation.value.Id
        }
      })
    },
    getSimulations () {
      this.loading++
      this.$axios.get('/api/Simulations').then((data) => {
        this.simulations = data.data
      }).then(() => {
        this.loading--
      })
    }
  }
}
</script>
