<template>
  <div>
    <h1 class="display-3">EPIDEM<b>IO</b></h1>
    <h3>Fighting Epidemics</h3>
    <br>
    <v-btn to="dashboard" color="primary"><v-icon left>mdi-view-dashboard</v-icon> Dashboard</v-btn>
  </div>
</template>

<script>
export default {
  name: 'landing',
  layout: 'landing'
}
</script>

<style scoped>

</style>
